/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

text {
	color: red;
}

.modal-title {
	text-align: center;
}

.buttons-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.modal-button {
	padding: 8px 20px;
	cursor: pointer;
}