button:not(.clickable-icon) {
	box-shadow: none;
	background-color: transparent;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"] {
	height: auto;
	background-color: transparent;
}

input[type="text"]:focus-visible {
	box-shadow: none;
}

.modal-title {
	text-align: center;
}

.buttons-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.modal-button {
	padding: 8px 20px;
	cursor: pointer;
}
