:root {
  --ctx_menu_x: 0px;
  --ctx_menu_y: 0px;
}


.excel-enable-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.excel-enable-btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin: 10px 10px 10px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.excel-enable-btn:hover {
  background-color: #0056b3;
}

.excel-progress-bar {
  justify-center: center;
  width: 100%;
  height: 20px;
  background-color: #007bff;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}

.excel-progress-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0056b3;
  border-radius: 5px;
  animation: download 2s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 50px 50px; 
}

@keyframes download {
  0% {
      background-position: 0 0; 
  }
  100% {
      background-position: 50px 0; 
  }
}

.uproduct-container {
  margin: 0;
  padding: 0;

  height: 100%;
}

.univer-menu-item,
.univer-icon-container,
.more-numfmt-type,
.univer-slide-tab-item {
  color: black;
}

.univer-slide-tab-active {
  color: rgb(var(--primary-color));
}

button.univer-button-text,
button.univer-toolbar-btn,
button.univer-dialog-close,
button.univer-sheet-bar-btn {
  background-color: transparent;
  box-shadow: none;
}

.univer-input {
  box-shadow: none !important;
  color: rgb(var(--text-color)) !important;
}


button.univer-toolbar-btn-active {
  background-color: rgb(var(--grey-100));
}

.univer-modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.univer-mdal-btn {
  margin: 0 10px;
}

.uproduct-container input[type="search"],
input[type="text"] {
  height: auto;
  box-shadow: none;
}

.uproduct-container input[type="text"]:focus,
input[type="text"]:active,
[type="text"]:focus-visible {
  box-shadow: none;
}

button.univer-button-primary {
  font-weight: 500;
  color: rgb(var(--color-white));
  background-color: rgb(var(--primary-color));
  border-color: rgb(var(--primary-color));
}
