:root {
  --ctx_menu_x: 0px;
  --ctx_menu_y: 0px;
}

.uproduct-container {
  margin: 0;
  padding: 0;

  height: 100%;
}

.univer-menu-item,
.univer-icon-container,
.more-numfmt-type,
.univer-slide-tab-item {
  color: black;
}

.univer-slide-tab-active {
  color: rgb(var(--primary-color));
}

button.univer-button-text,
button.univer-toolbar-btn,
button.univer-sheet-bar-btn {
  background-color: transparent;
  box-shadow: none;
}

button.univer-toolbar-btn-active {
  background-color: rgb(var(--grey-100));
}

.univer-modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.univer-mdal-btn {
  margin: 0 10px;
}
